{{ if site.Data.homepage.welcome.enable }}
{{ with site.Data.homepage.welcome }}
<section id="welcome" {{ if .overlay }} class="overlay" {{ end }}
  style="background-image: url('{{ site.Data.homepage.welcome.bg_image | absURL }}');">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="block">
        <img class="img-responsive mx-auto welcome-product" src="{{ .image | absURL }}" alt="{{ .title }}" />
        <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">{{ .title | markdownify }}
        </h1>
        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">{{ .description | markdownify }}</p>
      </div>
    </div>
  </div>
</div>
</section>
{{end}}
{{end}}